<h1>Delete a Contact</h1>

<ul>
  <% @contacts.each do |contact| %>
  <li><b><%=contact.to_s%></b></li>
  <% end %>
</ul>

<form action="/delete" method="POST">
  <fieldset>
    <legend>Delete a contact</legend>
    <input type="text" name="id" autofocus required placeholder="ID">
  </fieldset>
</form>