<h1>Welcome to the Wonderful Rolodex</h1>

<fieldset>
<p>Main menu</p>
<link rel="stylesheet" type="text/css" href="/style.css">
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/new">Add Contact</a></li>
  <li><a href="edit">Edit Contact</a></li>
  <li><a href="/modify">Modify Contact</a></li>
</ul>
</fieldset>
