<!DOCTYPE html>
<html>
<head>
  <title>Fucking Rolodex</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <!-- Each page will be stuck between these tags -->
    

    <%= yield %>


    <!-- Each page will be stuck between these tags -->

</body>
</html>